.one {
    width: 200px;
    height: 100px;
    background-color: lightgreen;
    position: relative;
    top: 20px;
    left: 20px;
    padding: 20px;
    margin-bottom: 40px;
}

.parent {
    width: 400px;
    height: 250px;
    border: 2px solid black;
    position: relative;
}

.box {
    width: 180px;
    height: 100px;
    padding: 20px;
}

.red {
    background-color: lightcoral;
    position: relative;
    top: 40px;
    left: 40px;
    z-index: 1;
}

.blue {
    background-color: lightblue;
    position: absolute;
    top: 70px;
    left: 90px;
    z-index: 2;
}