#Box{
    background-color: rgba(0, 183, 255, 0.538);
    font-weight: 100;

}
.heading1{
    color: red;
    text-align: center;
    text-transform: capitalize;
}
.heading2{
    color: rgb(255, 64, 0);
    font-size: 10px;
    line-height: 50px;
}
.heading3{
    color: rgb(255, 85, 0);
    text-decoration: underline;
    text-transform: capitalize;
}
button{
    background-color: green;
}
*{
    color: blue;
}