body {
    font-family: Arial, sans-serif;
    min-height: 1200px;
}

/* Q1 */
.nature {
    width: 500px;
    height: 250px;
    background-image: url("https://images.unsplash.com/photo-1441974231531-c6227db76b6e");
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Q2 */
.right-box {
    width: 120px;
    height: 80px;
    background-color: lightblue;
    position: fixed;
    right: 0;
    top: 100px;
    padding: 10px;
}


/* Q3 */
.box {
    width: 200px;
    height: 100px;
    position: absolute;
    padding: 20px;
}

.back {
    background-color: lightcoral;
    top: 550px;
    left: 100px;
    z-index: 1;
}

.front {
    background-color: lightgreen;
    top: 580px;
    left: 150px;
    z-index: 2;
}