.heading1{
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}
*{
    font-family: 'Monospace';
}
.outer{
    font-size: 25px;
}
.inner{
    font-size: 10px;
}
a{
    text-decoration: none;
}

.one{
    line-height: 1;
}
.two{
    line-height: 1.5;
}
.three{
    line-height: 2;
}